#忽略整个文件夹
/node_modules
/runtime

#忽略某些文件
/views/v1/style/css/*
/views/v1/style/js/**/*.min.js
/views/v1/style/js/**/*.css

#忽略配置文件
#.env*

.DS_Store
.idea
*.psd
.phpintel
Thumbs.db
package.json
package-lock.json