<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>{$data._global.web_info.web_title}{/block}</title>
    <link rel="stylesheet" href="{$data._global.url.front_url}css/global.css">
    <script>
        var _global = <?php echo json_encode($data['_global']); ?>;
        console.log(_global);
    </script>
</head>
<body>
    <div class="container text-center">
        <?php switch ($code) {?>
            <?php case 1:?>
            <img class="img" src="{$data._global.url.public_url}src/logo.png">
            <h1 class="title text-success"><?php echo(strip_tags($msg));?></h1>
            <?php break;?>
            <?php case 0:?>
            <img class="img" src="{$data._global.url.public_url}src/logo.png">
            <h1 class="title text-danger"><?php echo(strip_tags($msg));?></h1>
            <?php break;?>
        <?php } ?>
        <p class="msg">
            页面自动跳转,等待时间:&nbsp;<b id="j-wait"><?php echo($wait);?></b>&nbsp;秒
        </p>
        <div class="line"></div>
        <div class="g">
            <div class="g-1">
                
            </div>
            <div class="g-item">
                <a id="j-href" class="btn btn-default btn-radius btn-block" href="<?php echo($url);?>">跳转</a>
            </div>
            <div class="g-1">
                
            </div>
            <div class="g-item">
                <a class="btn btn-primary btn-radius btn-block" href="">首页</a>
            </div>
            <div class="g-1">
                
            </div>
        </div>
    </div>
    <script>
        (function(){
            var wait = document.getElementById('j-wait'),
                href = document.getElementById('j-href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>
</body>
</html>