{extend name="v1/public:layout" /}
{block name="css"}

{/block}
{block name="main"}
<div class="container">
	
</div>
{/block}
{block name="js"}
<script>
	$(function() {
	    new Index();
	});
	function Index() {
	    if (!(this instanceof Index)) {
	        return new Index();
	    }
	    this.init();
	}

	Index.prototype = {
	    init: function() {
	        var _this = this;

	        $.h5show({
	            navShow: false,
	            menuShow: false,
	            copyShow: false,
	        })

	        _this.render();
	    },
	    render: function(res) {
	        var _this = this;


	        _this.handle();

	    },
	    handle: function(res) {
	        var _this = this;


	    }
	};
</script>
{/block}